/* FeatureToggler.module.css */

.mJICyhZh7Kh4xsaWtve1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.Ma0LW3viaN_qMuzCEk4I {
    background-color: var(--background-color);
    color: var(--main-text-color);
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.eHGSzXQxMfnUttUO72jc {
    margin-bottom: 10px;
}

.OMfmg9E8wwTk1o6Qbadn {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.OMfmg9E8wwTk1o6Qbadn:hover {
    background-color: #0056b3;
}
.koN910L0HKQiDoVfefAe {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-width: 288px;
  background-color: var(--background-color);
  padding: 0 16px;
  text-align: center;
  font-family: Inter, Arial, sans-serif;
  font-size: var(--base-font-size);
  display: flex;
  flex-direction: column;
}
.koN910L0HKQiDoVfefAe .vIEzBfwMbLt7imC8W6F2 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
.koN910L0HKQiDoVfefAe .jnN0L_iQqG3m5UJSDuY4 {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
:is(.koN910L0HKQiDoVfefAe .jnN0L_iQqG3m5UJSDuY4) .RmkiZeTQObwhTK0y__hG {
      font-size: 24px;
      line-height: 29px;
    }
:is(:is(.koN910L0HKQiDoVfefAe .jnN0L_iQqG3m5UJSDuY4) .RmkiZeTQObwhTK0y__hG) span {
        vertical-align: middle;
      }
:is(.koN910L0HKQiDoVfefAe .jnN0L_iQqG3m5UJSDuY4) .uxJOOqQPN20zyv4sXeBs {
      width: 24px;
      height: 24px;
      margin-right: 4px;
      vertical-align: middle;
    }
:is(.koN910L0HKQiDoVfefAe .jnN0L_iQqG3m5UJSDuY4) .UirOh1l16W0ruSekmH9e {
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }
:is(.koN910L0HKQiDoVfefAe .jnN0L_iQqG3m5UJSDuY4) .RC3nb9Shf4rAqAvAwUMx {
      font-size: 16px;
      color: var(--secondary-color);
      line-height: 160%;
    }
.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin: 16px 0 12px;
  }
:is(.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V) .eNpBtM7otQPOeaO8mgrg {
      width: 100%;
      border: none;
      padding: 12px;
      border-radius: 24px;
      font-weight: 700;
      font-size: 14px;
      line-height: 17px;
      background-color: var(--button-background-primary);
      color: var(--button-primary-text-color);
      cursor: pointer;
      transition: opacity 0.2s;
    }
:is(:is(.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V) .eNpBtM7otQPOeaO8mgrg):hover {
        opacity: 0.8;
      }
:is(:is(.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V) .eNpBtM7otQPOeaO8mgrg):focus-visible {
        outline: 2px solid #fff;
      }
:is(.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V) .gmIfuMQrfpa3NTxGF96s {
      background-color: var(--button-background-secondary);
      color: var(--button-secondary-text-color);
      cursor: pointer;
      transition: opacity 0.2s;
    }
:is(:is(.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V) .gmIfuMQrfpa3NTxGF96s):hover {
        color: var(--button-hover-secondary-color);
        opacity: var(--button-hover-opacity);
        background-color: var(--button-hover-background-secondary);
      }
:is(:is(.koN910L0HKQiDoVfefAe .xIxCVfrxmPRRt64o917V) .gmIfuMQrfpa3NTxGF96s):focus-visible {
        outline: 2px solid var(--button-focus-visible-outline-primary-color);
      }

.smCk0czxwx9En13YlsQg {
  padding-inline: 16px;
}

.ZW3DXH51S02ODLkxGGf4 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  min-height: 425px;
  text-align: left;
  color: var(--main-text-color);
}

.ZW3DXH51S02ODLkxGGf4 .p8BnVvStm3FqCIVbOcaA {
    margin-inline: auto;
    font-size: 120px;
    line-height: 146px;
    text-align: center;
  }

.ZW3DXH51S02ODLkxGGf4 h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29.05px;
    text-align: center;
    color: var(--main-text-color);
    margin: 0 0 17px;
  }

.ZW3DXH51S02ODLkxGGf4 p {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    margin: 0;
  }

.ZW3DXH51S02ODLkxGGf4 a {
    padding-left: 5px;
    color: var(--main-text-color);
    -webkit-text-decoration: underline;
    text-decoration: underline;
    cursor: pointer;
  }

:is(.ZW3DXH51S02ODLkxGGf4 a):hover {
      opacity: 0.8;
    }

.ZW3DXH51S02ODLkxGGf4 .eGdUYPJVA84txS9xYXQm {
    width: 100%;
    margin: 16px 0 12px;
    border: none;
    padding-inline: 12px;
    padding-block: 8px;
    border-radius: 24px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    background-color: var(--button-background-primary);
    color: var(--button-primary-text-color);
    cursor: pointer;
    transition: opacity 0.2s;
  }

:is(.ZW3DXH51S02ODLkxGGf4 .eGdUYPJVA84txS9xYXQm):hover {
      opacity: 0.8;
    }

:is(.ZW3DXH51S02ODLkxGGf4 .eGdUYPJVA84txS9xYXQm):focus-visible {
      outline: 2px solid #fff;
    }

.ZW3DXH51S02ODLkxGGf4 .GMN_kKnLNg2yIUwnqA9X {
    width: fit-content;
    position: relative;
    margin: 0 auto;
  }

.ZW3DXH51S02ODLkxGGf4 .IHbDDoP6P7sHutoLGmJQ {
    position: absolute;
    left: -20px;
    width: 16px;
    height: 16px;
    border: 2px solid #fff;
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: y6NkIHnrP3ldT7qm18VQ 1s linear infinite;
  }

.ZW3DXH51S02ODLkxGGf4 .Zs6TgWIbi08Cxkj5IeTm {
    display: block;
    margin-bottom: 12px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    opacity: 0.5;
  }

@keyframes y6NkIHnrP3ldT7qm18VQ {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
a:focus-visible {
  outline: none;
}

.tlzSeJjSWmqHfc4wPld3 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.tlzSeJjSWmqHfc4wPld3.Gsl1ujYvmUYqdoiqpzJp {
    padding-block: 6px;
  }

.U9cstG4QWUwwNG3zFoIA {
  border: none;
  cursor: pointer;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  background-color: var(--button-background-secondary);
  color: var(--main-text-color);
  transition: opacity 0.2s;
  padding: 8px 12px;
}

.U9cstG4QWUwwNG3zFoIA:hover {
    opacity: 0.8;
  }

.U9cstG4QWUwwNG3zFoIA:focus-visible {
    outline: 2px solid var(--telegram-outline);
  }

.ObxXoOt_xt3hpDNz6wSz {
  color: var(--telegram-color);
}

.QV_NlBU1xIatfZBtzTyg {
  height: var(--header-height);
  width: 100%;
  padding: 16px 0;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.xFYlzdCiYTMAOPhJhyfV button {
    font-weight: 500;
  }

.hxa1MCGhHERBS3PiOGH4 {
  padding: 0 16px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: 100%;
}

.JHATg4MzkPs53I8FskFw {
  display: flex;
  flex-direction: column;
}

.PjLWGkfwHcEp2jkda6Gt {
  transform: translateX(100%);
  opacity: 0;
}

.QfaMjlZ5OsAdmOmzZuAG {
  transform: translateX(0%);
  opacity: 1;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

._YUve0uTpVrbG9xYAs3A {
  transform: translateX(0%);
  opacity: 1;
}

.q9RyGWUAlSW_ERz48GkQ {
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

.ft6XbCb1pWDv6rQEmMB4 {
  transform: translateX(-100%);
  opacity: 0;
}

.lB9Zn8VyDWGRcoAiJnSI {
  transform: translateX(0%);
  opacity: 1;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

.a4y8z9_j6rldXexFi8sQ {
  transform: translateX(0%);
  opacity: 1;
}

.KCnQfJGNU6UGaUmRgM6f {
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}
.oT_Zzim0yCAmG0qTUaAO {
  position: relative;
  margin-inline: auto;
  width: 100%;
}
.oT_Zzim0yCAmG0qTUaAO .plCcyD1ePDHqcAiYymGB {
    max-width: 220px;
    color: var(--button-background-primary);
  }
.oT_Zzim0yCAmG0qTUaAO .V14X6Mbsj1mh1qyCBNij {
    width: 268px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.25px;
  }

/* stylelint-disable declaration-empty-line-before */
/* stylelint-disable custom-property-empty-line-before */
/* stylelint-disable custom-property-pattern -- custom property */
.m46wmAeBRBK5LlzGMq89,
[data-variant='primary'] > .m46wmAeBRBK5LlzGMq89 {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat
    radial-gradient(
      circle closest-side,
      var(--button-loader-points-primary-color) 90%,
      transparent
    );
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: dI3Sz_pPKtwdIbVK66_K 1s infinite linear;
  position: absolute;
  left: 10px;
}

[data-variant='secondary'] > .m46wmAeBRBK5LlzGMq89 {
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat
    radial-gradient(
      circle closest-side,
      var(--button-loader-points-secondary-color) 90%,
      transparent
    );
  background:
    var(--_g) 0% 50%,
    var(--_g) 50% 50%,
    var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: dI3Sz_pPKtwdIbVK66_K 1s infinite linear;
  position: absolute;
  left: 10px;
}

@keyframes dI3Sz_pPKtwdIbVK66_K {
  20% {
    background-position:
      0% 0%,
      50% 50%,
      100% 50%;
  }

  40% {
    background-position:
      0% 100%,
      50% 0%,
      100% 50%;
  }

  60% {
    background-position:
      0% 50%,
      50% 100%,
      100% 0%;
  }

  80% {
    background-position:
      0% 50%,
      50% 50%,
      100% 100%;
  }
}

.vzNkvWKnEURqu4fpnQNf {
  position: absolute;
  left: 10px;
  width: 16px;
  height: 16px;
  border: 2px solid var(--button-loader-circle-color);
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: UWTvYV42oOLX9De0RSGr 1s linear infinite;
}

@keyframes UWTvYV42oOLX9De0RSGr {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.SQtn8yRGfd6NWpwXiQjY {
  position: relative;
  border: none;
  cursor: pointer;
  padding-inline: 12px;
  padding-block: 8px;
  border-radius: 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.kJn3vDMkFdJcGSjYNX0Q {
  background-color: var(--button-background-primary);
  color: var(--button-primary-text-color);
  cursor: pointer;
  transition: opacity 0.2s;
}

.kJn3vDMkFdJcGSjYNX0Q:hover {
    opacity: var(--button-hover-opacity);
    background-color: var(--button-hover-background-primary);
  }

.kJn3vDMkFdJcGSjYNX0Q:focus-visible {
    outline: 2px solid var(--button-focus-visible-outline-primary-color);
  }

.kJn3vDMkFdJcGSjYNX0Q:disabled {
    background-color: var(--button-disabled-background-color);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
  }

.aK70L5tX1RKD6hjaqtr4 {
  background-color: var(--button-background-primary-neutral);
  color: var(--button-primary-neutral-text-color);
  cursor: pointer;
  transition: opacity 0.2s;
}

.aK70L5tX1RKD6hjaqtr4:hover {
    opacity: var(--button-hover-opacity);
  }

.aK70L5tX1RKD6hjaqtr4:focus-visible {
    outline: 2px solid var(--button-focus-visible-outline-primary-neutral-color);
  }

.aK70L5tX1RKD6hjaqtr4:disabled {
    background-color: var(--button-background-primary-neutral);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
  }

.CxhoeXCtzrL1xxvCfI_c {
  background-color: var(--button-background-secondary);
  color: var(--button-secondary-text-color);
  cursor: pointer;
  transition: opacity 0.2s;
}

.CxhoeXCtzrL1xxvCfI_c:hover {
    color: var(--button-hover-secondary-color);
    opacity: var(--button-hover-opacity);
    background-color: var(--button-hover-background-secondary);
  }

.CxhoeXCtzrL1xxvCfI_c:focus-visible {
    outline: 2px solid var(--button-focus-visible-outline-primary-color);
  }

.CxhoeXCtzrL1xxvCfI_c:disabled {
    background-color: var(--button-background-secondary);
    opacity: var(--button-disabled-opacity);
    cursor: not-allowed;
  }

.UzgO8rWVkAZQjVsmUoRE {
  padding: 12px;
}

.KR7OTCTXS7TGm7lmiteG {
  padding: 8px 12px;
}

._9bWIQAy8dBpFS9k3VEpA {
  border-radius: 6px;
}

.ddTauSrCDOAdKGb21DK5 {
  background: none;
  padding: 0;
  font-weight: 600;
  font-size: 14px;
  -webkit-text-decoration: underline;
  text-decoration: underline;
  color: var(--main-text-color);
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  opacity: 0.5;
  transition: opacity 0.3s;
  width: fit-content;
}

.ddTauSrCDOAdKGb21DK5:hover {
    opacity: 1;
  }

.ddTauSrCDOAdKGb21DK5:focus-visible {
    border-radius: 30px;
    outline: 2px solid var(--button-focus-visible-outline-primary-neutral-color);
    outline-offset: 3px;
  }

.wuL9BKdsaYJcWmYk9XoT {
  width: 100%;
  height: calc(var(--full-height) - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wuL9BKdsaYJcWmYk9XoT .mWM9XrzliNatjUyl4ZDH {
    margin: 32px 0 24px;
  }

.wuL9BKdsaYJcWmYk9XoT .Vcg_rVxIsUH9GjVE94Ol {
    margin-inline: auto;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

:is(.wuL9BKdsaYJcWmYk9XoT .Vcg_rVxIsUH9GjVE94Ol) .wQBGB5o5hbcEFiF13kIs {
      margin: 0 0 5px;
      font-weight: 700;
      font-size: 24px;
      line-height: 100%;
      letter-spacing: 0%;
      text-align: center;
    }

:is(.wuL9BKdsaYJcWmYk9XoT .Vcg_rVxIsUH9GjVE94Ol) .K0d_7S9LOcbfN6HBv2gX {
      padding: 0 48px;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      letter-spacing: 0%;
      text-align: center;
    }

.wuL9BKdsaYJcWmYk9XoT .x2vWjHS1KfRlVE0DkLdU {
    margin: 16px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

:is(.wuL9BKdsaYJcWmYk9XoT .x2vWjHS1KfRlVE0DkLdU) button {
      width: 100%;
    }

.K946Wfo19IlhhiOV2zl_ {
  width: 100%;
  height: fit-content;
  margin-top: 80px;
}

.YTvhvQ4c1fRwOMOz0orT {
  margin-top: 138px;
  width: 100%;
  height: fit-content;
}

.YTvhvQ4c1fRwOMOz0orT .Rh2jXi8r7ExptFH1VU3H {
    width: 100%;
  }

.liZxJ6qRCW37w2y4oMIK {
  font-size: 18px;
  letter-spacing: 0.25px;
  line-height: 24px;
  padding: 18px 0 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: calc(var(--full-height) - var(--header-height));
}

.z8B4xa_EJQWW2be3SrSA {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.uFw_RWHfBUAkmjJTe641 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.olMG2OeD3dk6PSL1K0SD {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 0;
}

.YPqYeF4jKBHMcCR0Hrvg {
  display: flex;
  flex-direction: column;
  gap: 7px;
  width: 100%;
}

.j32jACti3Vhj7K0Nc8AO {
  margin-top: 110px;
}

.B9bW4HqQKLvH44LJE7ZA {
  width: 105px;
  height: 105px;
}

.B9bW4HqQKLvH44LJE7ZA path {
    fill: var(--accent-color);
  }

.zcX6bagQZfSeZOoGpoNK {
  position: relative;
  margin-inline: auto;
  width: 100%;
}
.zcX6bagQZfSeZOoGpoNK .sLbb4mRCbry0QLTKxlbI {
    max-width: 220px;
    color: var(--button-background-primary);
  }
.zcX6bagQZfSeZOoGpoNK .PPXXaTMMYM5MFZcyRzcO {
    width: 268px;
    position: absolute;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.25px;
  }

.fcG3HJNV8HVMDlPT7xlG {
  font-size: 18px;
  letter-spacing: 0.25px;
  line-height: 24px;
  padding: 18px 0 14px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  height: calc(var(--full-height) - var(--header-height));
}

.v4yboCQ60GBdFgOkhtc8 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 17px;
}

.pmv8g7IT08joGcZDsuIL {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
}

.HAnv75PrP63jsoW2pipr {
  font-size: 16px;
  font-weight: 500;
  color: var(--secondary-color);
  margin: 0;
}

.TLfSZHmwRb_J1RxCTqH3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}

.TLfSZHmwRb_J1RxCTqH3 .b2HqfY7NW4tIr0aqbvm9 {
    opacity: 1;
    -webkit-text-decoration: none;
    text-decoration: none;
    line-height: 41px;
  }

.TLfSZHmwRb_J1RxCTqH3 .b2HqfY7NW4tIr0aqbvm9:hover {
    opacity: 0.5;
  }

.S7C1hcOQBMjJbDUbFPvd,
.zx_QxwE0rDP1Wa6h4HkM {
  margin-top: 110px;
}

.uecEEEFOG3vIOtEqRMy_ {
  width: 105px;
  height: 105px;
}

.uecEEEFOG3vIOtEqRMy_ path {
    fill: var(--accent-color);
  }

.GCHA1QSidtG6PPSyHchA {
  height: calc(var(--full-height) - var(--header-height));
  padding: 12px 0;
}

.avwLMBus3NHm9zShILmO {
  height: 100%;
  padding: 16px;
  border-radius: 12px;
  background: var(--secondary-background-color);
  display: flex;
  flex-direction: column;
}

.FtseVrIoeh1jnAaY3fL9 {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
}

.fPEK4i_IQWCETqiMEgBQ {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  color: var(--enable-text-color);
  text-align: left;
}

.CnfbbwhqHZZR9d7tRvhN {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
}

.vi1rY7NpD4m52mYwvGAc {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  opacity: 0.7;
}

.vi1rY7NpD4m52mYwvGAc .bmAA_tBszyPiuhTB40PI {
    color: currentcolor;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    -webkit-text-decoration-skip-ink: none;
            text-decoration-skip-ink: none;
  }

.XMo891ik7tpYtmj3j8e5 {
  margin: 0 0 12px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: var(--tertiary-color);
  opacity: 0.7;
  flex-grow: 1;
}

.MVnNtFc7MWrBhCzPEQXd {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.WHsPHDO2PTyyjIL41E93 {
  width: 100%;
}

.LjjRsO6jBhGeu2miPADu {
  margin: auto;
}

.CtXkKcDn_KdtxiFjhAhc {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 999px;
  background: var(--payment-method-button-background-color);
  border: none;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.CtXkKcDn_KdtxiFjhAhc.kZuKNnq6rCVFo932BDbk {
  background: var(--payment-method-button-active-background-color);
}

.CtXkKcDn_KdtxiFjhAhc :not(.kZuKNnq6rCVFo932BDbk):hover {
  opacity: 0.7;
}

.ja_1UJID7IAcWi3NXQIU {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.oo4P1h6IMvAVwTEY4_WW {
  width: 100%;
  height: 55px;
  padding: 16px;
  border-radius: 999px;
  background: var(--tariff-button-background-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--tariff-button-border-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
}

.oo4P1h6IMvAVwTEY4_WW .rO4t17h9j5RE6TJcvX_K {
    font-weight: 400;
  }

.oo4P1h6IMvAVwTEY4_WW.VDH0l_j3QnWv0ajo3JAs {
  background: var(--tariff-button-active-background-color);
  border-color: var(--tariff-button-active-border-color);
}

.oo4P1h6IMvAVwTEY4_WW:not(.VDH0l_j3QnWv0ajo3JAs):hover {
  opacity: 0.7;
}

.Hjjr9YrnedZXbAwRjfvp {
  height: calc(var(--full-height) - var(--header-height));
  padding: 12px 0;
}

.oylkjOsV16z8vGfmhaKk {
  height: 100%;
  padding: 16px;
  border-radius: 12px;
  background: var(--secondary-background-color);
}

.yuPKZ48op8RBzuPhNBFW {
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  line-height: 130%;
}

.yuPKZ48op8RBzuPhNBFW span {
    font-weight: 400;
  }

.LIDUgc7SRRYHsDgphf4K {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
}

._U82_RUzGrGOxwM4_Fqx {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

._U82_RUzGrGOxwM4_Fqx .pHi5xtxXDMfxIzBe_8TO {
    width: 100%;
  }

.xcr3x0oz4Nq5ijs7yxHB {
  margin: auto;
}

.VxMCJzx3MlQmSJxOpXxf {
  position: relative;
  width: 100%;
  height: 72px;
  padding: 2px;
  border: none;
  border-radius: 999px;
  outline: none;
  transition: all 0.3s;
  cursor: pointer;
  overflow: hidden;
  background: var(--connect-button-background);
}

.VxMCJzx3MlQmSJxOpXxf .eWPTa72qQyLEPIvIm_Nc {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 24px;
    background: var(--connect-button-background);
    box-shadow: var(--connect-button-box-shadow);
    border-radius: 999px;
    font-weight: 700;
    font-size: 16px;
    color: var(--connect-button-text-color);
    transition: inherit;
  }

:is(.VxMCJzx3MlQmSJxOpXxf .eWPTa72qQyLEPIvIm_Nc) .kXJzsdRJbOmFW17GjvQQ {
      position: absolute;
      top: 50%;
      right: 24px;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      color: currentcolor;
    }

.VxMCJzx3MlQmSJxOpXxf.rdI1oNhh60tp6Xca4yZE {
    background: var(--connect-button-disabled-background-color);
  }

.VxMCJzx3MlQmSJxOpXxf.rdI1oNhh60tp6Xca4yZE .eWPTa72qQyLEPIvIm_Nc {
      background: var(--connect-button-disabled-background-color);
    }

.VxMCJzx3MlQmSJxOpXxf.rdI1oNhh60tp6Xca4yZE::before {
      background: var(--connect-button-disabled-gradient-color);
    }

.VxMCJzx3MlQmSJxOpXxf.rdI1oNhh60tp6Xca4yZE::after {
      box-shadow: var(--connect-button-disabled-box-shadow-color);
    }

.VxMCJzx3MlQmSJxOpXxf.hQ0YNeSVAtu1OF65oMPP {
    padding: 2px;
    background: var(--connect-button-enabled-background);
  }

.VxMCJzx3MlQmSJxOpXxf.hQ0YNeSVAtu1OF65oMPP .eWPTa72qQyLEPIvIm_Nc {
      background: var(--connect-button-enabled-background);
      box-shadow: var(--connect-button-enabled-box-shadow);
      color: var(--enable-text-color);
    }

.VxMCJzx3MlQmSJxOpXxf.hQ0YNeSVAtu1OF65oMPP::before {
      background: var(--connect-button-enabled-gradient-color);
    }

.VxMCJzx3MlQmSJxOpXxf.hQ0YNeSVAtu1OF65oMPP::after {
      box-shadow: var(--connect-button-enabled-box-shadow-color);
    }

.VxMCJzx3MlQmSJxOpXxf.cPNOb7zbASUvsugKANTy {
    padding: 2px;
  }

.VxMCJzx3MlQmSJxOpXxf.cPNOb7zbASUvsugKANTy::before {
      background: linear-gradient(
        rgb(0 0 0 / 0%) 0%,
        rgb(0 0 0 / 0%) 30%,
        var(--connect-button-run-color) 30%,
        var(--connect-button-run-color) 70%,
        rgb(0 0 0 / 0%) 70%,
        rgb(0 0 0 / 0%) 100%
      );
      box-shadow: none;
      animation: Vo1tz8MkcZanJf3mV3Jw infinite linear 1.5s;
    }

.VxMCJzx3MlQmSJxOpXxf.T1roeABRsYEcugHS5hL4 {
    padding: 2px;
    background: var(--connect-button-error-background);
  }

.VxMCJzx3MlQmSJxOpXxf.T1roeABRsYEcugHS5hL4 .eWPTa72qQyLEPIvIm_Nc {
      background: var(--connect-button-error-background);
      box-shadow: none;
      color: var(--connect-button-error-text-color);
    }

:is(.VxMCJzx3MlQmSJxOpXxf.T1roeABRsYEcugHS5hL4 .eWPTa72qQyLEPIvIm_Nc) .WzkqYTUDpeOBmgxAcSgf .aazQjm4V8HfoPLYgi6py {
        font-weight: 600;
        font-size: 12px;
        opacity: 0.5;
      }

.VxMCJzx3MlQmSJxOpXxf.T1roeABRsYEcugHS5hL4::before {
      box-shadow: none;
    }

.VxMCJzx3MlQmSJxOpXxf.T1roeABRsYEcugHS5hL4::after {
      box-shadow: var(--connect-button-error-box-shadow);
    }

.VxMCJzx3MlQmSJxOpXxf::before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--connect-button-light-gradient-color);
    box-shadow: var(--connect-button-box-shadow);
    border-radius: 999px;
    transition: inherit;
  }

.VxMCJzx3MlQmSJxOpXxf::after {
    content: '';
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    border-radius: 999px;
    transition: inherit;
  }

@keyframes Vo1tz8MkcZanJf3mV3Jw {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

.o9sK3ttbryUA8oACXQsY {
  position: relative;
  cursor: pointer;
}
.o9sK3ttbryUA8oACXQsY .PGk2i9bb4KO_t5xJtrgg {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 3px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
.Asa0aUlEmSAHcFz9hnK4:is(.o9sK3ttbryUA8oACXQsY .PGk2i9bb4KO_t5xJtrgg) {
      opacity: 0;
      transition: opacity 0s;
    }
.o9sK3ttbryUA8oACXQsY:has(.Asa0aUlEmSAHcFz9hnK4) {
    pointer-events: none;
  }
.o9sK3ttbryUA8oACXQsY .efrs7FY4FeWYvrTXmMTg {
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0s;
    -webkit-text-decoration: none;
    text-decoration: none;
  }
.Asa0aUlEmSAHcFz9hnK4:is(.o9sK3ttbryUA8oACXQsY .efrs7FY4FeWYvrTXmMTg) {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

._GQ_slOrJreIGbGArno3 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 50%);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.vqgSgJYVgtu9hySzkInu {
  display: block;
}

.AeRa78M8b9lZkUGNk7Ys {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-text-color);
  background-color: var(--background-color);
  padding: 0 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.AeRa78M8b9lZkUGNk7Ys .RxEWnkYiJAZ9ICylfeRG {
    margin: 47px auto 0;
  }

.AeRa78M8b9lZkUGNk7Ys .AA5_OLPcvwXQEtWan_xg,.AeRa78M8b9lZkUGNk7Ys .juXp3uMYIhCGCtEFdZ4U {
    margin: 47px auto 40px;
  }

.AeRa78M8b9lZkUGNk7Ys .R4mODuRQNoh_8ad1G2DS {
    flex-grow: 1;
  }

.AeRa78M8b9lZkUGNk7Ys .P5zM8FBydHP7AcrxdGyD {
    margin: 7px 0 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
  }

.AeRa78M8b9lZkUGNk7Ys .zytWCSQWPwS0qsxfdyKw {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: center;
  }

.AeRa78M8b9lZkUGNk7Ys .XQo_Fy2y6_B7ECiF5sVG {
    -webkit-text-decoration: none;
    text-decoration: none;
    width: 100%;
  }

.AeRa78M8b9lZkUGNk7Ys .Qi0EmXqugqbsEFcxHnJ5 {
    width: 100%;
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
    align-self: flex-end;
  }

:is(.AeRa78M8b9lZkUGNk7Ys .Qi0EmXqugqbsEFcxHnJ5) .ZBjEr2nsoratuKqC1gPq {
      width: 100%;
    }

.UMxtXEFMjj6VL4xaGO8X {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.UMxtXEFMjj6VL4xaGO8X .fpMQH6Q7IU76j_y6LEF1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 1;
  }

.UMxtXEFMjj6VL4xaGO8X .uvDf7kiYZS1fExoVrdVT {
    position: relative;
    padding-bottom: 24px;
  }

.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ,.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ::placeholder {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--enter-id-input-placeholder-text-color);
  }

.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ {
    width: 100%;
    height: 41px;
    border-radius: 24px;
    background: var(--enter-id-input-background);
    padding: 0 24px;
    margin-top: 24px;
    border: var(--enter-id-input-border);
  }

:is(.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ):focus {
      outline: none;
      color: var(--enter-id-input-text-color);
      background: var(--enter-id-input-focus-background);
    }

:is(.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ):focus::placeholder {
        color: var(--enter-id-input-text-color);
        background: var(--enter-id-input-placeholder-background);
      }

.YabICJ3q3CVM9e5Yhc5V:is(.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ) {
      background: var(--enter-id-input-with-value-background);
    }

.Q1BSdZtBOorkGWEaRI9K:is(.UMxtXEFMjj6VL4xaGO8X .jLwS2iKDz1jcEt6D1UmZ) {
      background-color: var(--button-background-secondary);
      animation: pIzFb5KW6FymqH5c7Os6 200ms ease-in-out 550ms 2;
      border: 1px solid var(--accent-color);
      color: var(--accent-color);
    }

.UMxtXEFMjj6VL4xaGO8X .f3TvQjxPuDWeW_BQJnFQ {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-inline: auto;
    text-align: center;
    color: var(--accent-color);
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
  }

.UMxtXEFMjj6VL4xaGO8X .J3HTxFoN_3kj8q9K7ahv {
    margin-top: 12px;
    width: 100%;
  }

:is(.UMxtXEFMjj6VL4xaGO8X .J3HTxFoN_3kj8q9K7ahv) .ZWgNU_C1EKHIcslBWwB_ {
      position: relative;
      order: 2;
      left: 4px;
    }

@keyframes pIzFb5KW6FymqH5c7Os6 {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(8px);
  }

  75% {
    transform: translateX(-8px);
  }

  100% {
    transform: translateX(0);
  }
}

.SIX1R4mrNjKU3cvYmsUg {
  margin: auto 0 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.WgVBabn4MB6lNjVd915r {
  width: 100%;
}

.YLwgN4CwEErPcl_sFfc_ {
  height: calc(var(--full-height) - var(--header-height));
  display: flex;
  flex-direction: column;
}

.tlvP5OtTdIfVNHVZbwNb {
  margin: 100px 0 12px;
  font-weight: 700;
  font-size: 24px;
}

.SOsDuHRLcsuIf5jVNZs4 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--enter-id-description-text-color);
}

.a5oL4zhQDEM6S59CicQg {
  width: 100%;
  margin: 12px 0 16px;
}

.i6nKFuwCXjBwf0XoFoQL {
  display: flex;
  flex-direction: column;
  height: calc(var(--full-height) - var(--header-height));
}

.cBNze6Jowwb_Uu8oK6Kw {
  margin: 24px auto;
}

.LUkCkVuS9So_2GN27SzA {
  flex-grow: 1;
}

.Kr3CImEjQaMCcYzgHwY8 {
  margin: 0 0 12px;
  font-weight: 700;
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0;
  text-align: center;
}

.Vpg3UEgyVMJQErng12JR {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  flex-grow: 1;
}

.b1cNMYrlQ0zpmWjziPIJ {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 16px 0;
}

.BPFu_QOTQ4tpN4JqyZEN {
  width: 100%;
}

.eHA_Z3XccxCiCo360hvQ {
  width: 100%;
  height: 50px;
}

.huOhTeue2DDuz99tjhLb {
  width: 100%;
  font-weight: 700;
  padding: 16px 0 9px;
  opacity: 1;
}

.huOhTeue2DDuz99tjhLb:hover {
    opacity: 0.5;
  }

.O7v4G5YM9lJ2UZKu3HRS {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.wKExTybqp0JcwU8KOg3k {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.QXLvi2JgDemAqGXcKSsE {
  transform: translateX(100%);
  opacity: 0;
}

.zgMbSvjggdzzP3B701TD {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

.Mqp9xBTUB8C3h6FtG53F {
  transform: translateX(0);
  opacity: 1;
}

.aamYFWkjqDPuLN2wNxST {
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

.nRcFwEmJ3YBEvPhamWMv {
  transform: translateX(-100%);
  opacity: 0;
}

.ad_z3QsDk6KEGeGtHfYb {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

._BilCwdVo9IsevrERxHy {
  transform: translateX(0);
  opacity: 1;
}

.L7b6ZhQr3xPpe62VzZlc {
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 350ms ease-out,
    opacity 350ms ease-out;
}

.x9imigGpZcMFer2Eqehh {
  --padding-small: 16px;
  --padding-big: 28px;

  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;
  position: relative;
}

.x9imigGpZcMFer2Eqehh.op2WZewKuJ5_ZX1USfax.j97DnYRcbzRw9DFMTKgZ,.x9imigGpZcMFer2Eqehh.KhjkKFTmj_yd3rF6ObO7.j97DnYRcbzRw9DFMTKgZ {
    align-self: flex-end;
  }

.x9imigGpZcMFer2Eqehh.op2WZewKuJ5_ZX1USfax.z7wPJl3LujY2lSvWqpuh {
    padding-right: var(--padding-small);
  }

.x9imigGpZcMFer2Eqehh.KhjkKFTmj_yd3rF6ObO7.z7wPJl3LujY2lSvWqpuh {
    padding-right: var(--padding-big);
  }

.x9imigGpZcMFer2Eqehh.op2WZewKuJ5_ZX1USfax.JvVfN1QQP6hGOzU83WQY {
    padding-left: var(--padding-small);
  }

.x9imigGpZcMFer2Eqehh.KhjkKFTmj_yd3rF6ObO7.JvVfN1QQP6hGOzU83WQY {
    padding-left: var(--padding-big);
  }

.x9imigGpZcMFer2Eqehh.op2WZewKuJ5_ZX1USfax.DwHH6C47EVluZrflzowe,.x9imigGpZcMFer2Eqehh.KhjkKFTmj_yd3rF6ObO7.DwHH6C47EVluZrflzowe {
    justify-content: center;
    align-self: center;
  }

.x9imigGpZcMFer2Eqehh:has(.nV5uYrO4lYeVdIViLyDN) {
    cursor: default;
  }

.x9imigGpZcMFer2Eqehh .NH7E_wBJJUXMSgm4R9Oy {
    color: var(--id-color);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }

.nV5uYrO4lYeVdIViLyDN:is(.x9imigGpZcMFer2Eqehh .NH7E_wBJJUXMSgm4R9Oy) {
      opacity: 0;
      transition: opacity 0s;
    }

.x9imigGpZcMFer2Eqehh .MUFWcRo8oJwB8d4qqkZ3 {
    color: var(--id-color);
    position: absolute;
    opacity: 0;
    transition: opacity 0s;
  }

.op2WZewKuJ5_ZX1USfax.j97DnYRcbzRw9DFMTKgZ:is(.x9imigGpZcMFer2Eqehh .MUFWcRo8oJwB8d4qqkZ3),.KhjkKFTmj_yd3rF6ObO7.j97DnYRcbzRw9DFMTKgZ:is(.x9imigGpZcMFer2Eqehh .MUFWcRo8oJwB8d4qqkZ3) {
      right: 0;
    }

.op2WZewKuJ5_ZX1USfax.DwHH6C47EVluZrflzowe:is(.x9imigGpZcMFer2Eqehh .MUFWcRo8oJwB8d4qqkZ3) {
      right: calc(var(--padding-small) / 2);
    }

.KhjkKFTmj_yd3rF6ObO7.DwHH6C47EVluZrflzowe:is(.x9imigGpZcMFer2Eqehh .MUFWcRo8oJwB8d4qqkZ3) {
      right: calc(var(--padding-big) / 2);
    }

.nV5uYrO4lYeVdIViLyDN:is(.x9imigGpZcMFer2Eqehh .MUFWcRo8oJwB8d4qqkZ3) {
      opacity: 1;
      transition: opacity 0.5s ease-in-out;
    }

.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N {
    position: absolute;
    opacity: 1;
    top: 50%;
    transform: translate(0, -50%);
    transition: opacity 0.5s ease-in-out;
  }

.z7wPJl3LujY2lSvWqpuh:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      right: 0;
    }

.JvVfN1QQP6hGOzU83WQY:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      left: 0;
    }

.op2WZewKuJ5_ZX1USfax.z7wPJl3LujY2lSvWqpuh:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      margin-left: 4px;
    }

.op2WZewKuJ5_ZX1USfax.JvVfN1QQP6hGOzU83WQY:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      margin-right: 4px;
    }

.op2WZewKuJ5_ZX1USfax:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      width: 12px;
      height: 12px;
    }

.KhjkKFTmj_yd3rF6ObO7.JvVfN1QQP6hGOzU83WQY:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      margin-right: 6px;
    }

.KhjkKFTmj_yd3rF6ObO7.z7wPJl3LujY2lSvWqpuh:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      margin-left: 6px;
    }

.KhjkKFTmj_yd3rF6ObO7:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      width: 24px;
      height: 24px;
    }

.nV5uYrO4lYeVdIViLyDN:is(.x9imigGpZcMFer2Eqehh .vwWTaj98UCihHhIo6t6N) {
      opacity: 0;
      transition: opacity 0s;
    }

.x9imigGpZcMFer2Eqehh:hover {
    opacity: 0.8;
  }

span.op2WZewKuJ5_ZX1USfax {
  font-size: 12px;
  font-weight: 800;
}

span.KhjkKFTmj_yd3rF6ObO7 {
  font-size: 32px;
  font-weight: 700;
}

.nKIIyqK8jZBPadz8C0Kk {
  color: var(--main-text-color);
}

:is(a:has(.nKIIyqK8jZBPadz8C0Kk):hover .nKIIyqK8jZBPadz8C0Kk) path {
      fill-opacity: 1;
    }

.knPFKWuWIBB01LoFw81w {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 50%);
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.EuySsulQugVVhgQb_9sn {
  position: absolute;
  box-sizing: border-box;
  width: calc(100% - 24px);
  top: 50%;
  transform: translateY(-50%);
  color: var(--main-text-color);
  background-color: var(--background-color);
  border-radius: 16px;
  padding: 16px;
  margin-inline: 12px;
  min-height: 20%;
  text-align: center;
}

.EuySsulQugVVhgQb_9sn button {
    border-radius: 24px;
  }

.ixbdBKVf4TesSfzkb6C0 {
  padding: 0;
  position: absolute;
  top: 16px;
  right: 16px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--main-text-color);
  opacity: 0.4;
}

.ixbdBKVf4TesSfzkb6C0:focus-visible {
    outline: 2px solid var(--main-text-color);
  }

.ixbdBKVf4TesSfzkb6C0:hover {
    opacity: 1;
  }

.PB37Y_3llEdh4Nwl1p0m {
  background-color: var(--action-color);
  color: var(--action-text-color);
  cursor: pointer;

  /* Full size button */
  width: 100%;
  border: 2px solid var(--action-border-color);
  margin: 5px auto;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: var(--base-font-size);
  transition: opacity 0.2s;
}
.PB37Y_3llEdh4Nwl1p0m:hover {
    opacity: 0.7;
  }
.PB37Y_3llEdh4Nwl1p0m:focus-visible {
    outline: 2px solid var(--action-border-color);
  }

.tnzKd6Lwj1HOaC6ECZCk {
  color: var(--exit-button-color);
  opacity: 1;
}

.moOXjF8mOvUBtnZTDKVL {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.moOXjF8mOvUBtnZTDKVL:hover .tnzKd6Lwj1HOaC6ECZCk {
    opacity: 0.8;
  }

.moOXjF8mOvUBtnZTDKVL:focus-visible {
    outline: 2px solid #fff;
    border-radius: 5px;
  }

.XRTabmyfNOtxkPcobCpQ {
  animation: q27z1O4AElhbFKPce4zO 350ms ease-in-out 2 1s;
  color: var(--accent-color);
}

.oPPddb_oySy6uAG6gPDr {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: auto;
  max-height: fit-content;
  border-radius: 12px;
  text-align: left;
  background: var(--secondary-background-color);
  padding: 16px;
  margin-bottom: 12px;
}

.oPPddb_oySy6uAG6gPDr .dL4oracsf6ZFbQgDGfcn {
    flex-grow: 1;
  }

.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ {
    width: 100%;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: flex-start;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 16px;
  }

:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .smX67QD0NO73EiLrAaEk {
      display: flex;
      gap: 14px;
      justify-content: space-between;
      align-items: center;
    }

:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .ix16GTlTewSLaTSlLArq {
      display: flex;
      gap: 4px;
      justify-content: space-between;
      align-items: center;
    }

:is(:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .ix16GTlTewSLaTSlLArq) .hcZpe07H8SRy6oROij1o {
        font-weight: 400;
        font-size: 12px;
        line-height: 100%;
        letter-spacing: 0;
      }

:is(:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .ix16GTlTewSLaTSlLArq) .VG8B3z2vPWSmxw_0aKqW {
        min-width: 78px;
      }

:is(:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .ix16GTlTewSLaTSlLArq) div:has(svg) {
        padding-left: 0;
      }

:is(:is(:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .ix16GTlTewSLaTSlLArq) div:has(svg)) svg {
          display: none;
        }

:is(:is(:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .ix16GTlTewSLaTSlLArq) div:has(span)) span:nth-child(2) {
          width: 100%;
          right: auto;
          left: 50%;
          transform: translateX(-50%);
        }

:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .aUFg1nEeOGPVhX0isAxc {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 0.4px;
      line-height: 30px;
      -webkit-text-decoration: none;
      text-decoration: none;
    }

:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .brXcs7YuIMGBbHUL_6GT {
      visibility: visible;
      margin-bottom: 10px;
    }

.e2ihAVz9mD_DRSyhZPSe:is(:is(.oPPddb_oySy6uAG6gPDr .Sz_QqgJt0VgxfhrYtdnJ) .brXcs7YuIMGBbHUL_6GT) {
        visibility: hidden;
      }

.oPPddb_oySy6uAG6gPDr .IQRh8njcb7iRqlc5bFPC {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--enable-text-color);
    margin-top: 14px;
  }

.oPPddb_oySy6uAG6gPDr .FvciI3A9LVZsOR2pRj1h {
    margin-top: 14px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
    gap: 6px;
  }

:is(.oPPddb_oySy6uAG6gPDr .FvciI3A9LVZsOR2pRj1h) .g69YE3dicGNMA6H78xKQ {
      width: 100%;
    }

@keyframes q27z1O4AElhbFKPce4zO {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(20px);
  }

  75% {
    transform: translateX(-20px);
  }

  100% {
    transform: translateX(0);
  }
}

.l1ag5VL6IHRmZctjm9JQ {
  height: calc(var(--full-height) - var(--header-height));
  display: flex;
  flex-direction: column;
}

.qrUotFdovwR5lKTDBdse {
  margin-top: 97px;
}

.BrpOodwLDLIIlARVmdvP {
  align-self: flex-end;
  margin-bottom: 12px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', Arial, sans-serif;
}

body {
  width: 375px;
  height: var(--full-height);
  padding-bottom: 40px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--main-text-color);
  text-align: center;
  font-size: var(--base-font-size);
  overflow: hidden;
}

body.background-transition {
    transition: background-color 450ms ease-out 100ms;
  }

a {
  -webkit-text-decoration: none;
  text-decoration: none;
}

#popup {
  height: 100%;
  width: 100%;
}

:root {
  --full-height: 568px;
  --header-height: 62px;
  --switcher-pagination-height: 36px;
  --background-color: #e8e3d0;
  --secondary-background-color: #ffffff80;
  --main-text-color: #181a1c;
  --action-color: #fff6f6;
  --action-text-color: #5a5a5a;
  --action-border-color: #21212133;
  --secondary-color: #181a1c;
  --tertiary-color: #7e7e7e;
  --disabled-text-color: #ffffff80;
  --enable-text-color: #181a1c;
  --accent-color: #c7373b;

  /* general button */
  --button-background-selected-color: #fff;
  --button-background-color: #ffffff0d;
  --button-background-primary: #5f2e99;
  --button-background-primary-neutral: #fff;
  --button-background-secondary: #fff;
  --button-primary-text-color: #fff;
  --button-primary-neutral-text-color: #151515;
  --button-secondary-text-color: #000;

  /* general button-focus-visible */
  --button-focus-visible-outline-primary-color: #5a5a5a;
  --button-focus-visible-outline-primary-neutral-color: #5a5a5a;

  /* general button-hover */
  --button-hover-opacity: 1;
  --button-hover-background-primary: #000;
  --button-hover-background-secondary: #000;
  --button-hover-secondary-color: #fff;

  /* general button-disabled */
  --button-disabled-background-color: var(--button-background-primary);
  --button-disabled-opacity: 0.7;

  /* general button-loader */
  --button-loader-points-primary-color: #fff;
  --button-loader-points-secondary-color: var(--button-background-primary);
  --button-loader-circle-color: #fff;

  /* connect-button */
  --connect-button-background: #000;
  --connect-button-text-color: #e8e3d0;
  --connect-button-light-gradient-color: var(
    --connect-button-dark-gradient-color
  );
  --connect-button-dark-gradient-color: linear-gradient(
    rgb(0 0 0 / 0%),
    rgb(0 0 0 / 15%)
  );
  --connect-button-box-shadow: none;
  --connect-button-enabled-background: var(--button-background-primary-neutral);
  --connect-button-enabled-box-shadow: none;
  --connect-button-enabled-gradient-color: var(
    --connect-button-dark-gradient-color
  );
  --connect-button-disabled-background-color: #9b9b9b;
  --connect-button-run-color: #f1f1f1;
  --connect-button-disabled-gradient-color: none;
  --connect-button-disabled-box-shadow-color: none;
  --connect-button-error-background: #c8c8c8;

  /* ... */
  --exit-button-color: var(--button-background-primary);
  --exclamation-mark-color: var(--button-background-primary);
  --telegram-color: var(--button-background-primary);
  --telegram-outline: var(--button-background-primary);
  --id-color: var(--button-background-primary);

  /* enter-id form */
  --enter-id-description-text-color: #181a1c;
  --enter-id-input-placeholder-text-color: var(--button-background-primary);
  --enter-id-input-text-color: var(--button-background-primary);
  --enter-id-input-border: var(--button-background-primary) solid 1px;
  --enter-id-input-background: none;
  --enter-id-input-focus-background: #fff;
  --enter-id-input-with-value-background: #fff;
  --enter-id-input-placeholder-background: none;

  /* tariff select button */
  --tariff-button-background-color: var(--secondary-background-color);
  --tariff-button-border-color: transparent;
  --tariff-button-active-background-color: transparent;
  --tariff-button-active-border-color: #5f2e99;

  /* payment method select button */
  --payment-method-button-background-color: var(--secondary-background-color);
  --payment-method-button-active-background-color: #fff;
}

