config/nvim/undo/
config/nvim/backup/
config/nvim/swap/
config/Code/Cache/
config/Code/CachedData/
config/Code/Crashpad/
config/Code/Service Worker/
*/cache/
*/Cache/
*/CachedData/
*/logs/
*/log/
*/tmp/
*/temp/
*.lock
*.bak
google-chrome/
Cursor/
go/
