@import "/home/dialol/.config/colors/colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
}

window#waybar {
    background-color: transparent;
}

window#waybar.foreground {
    color: #e0c5e8;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #e0c5e8;
    border-bottom: 3px solid transparent;
}

#workspaces button:hover {
    background: rgba(224, 197, 232, 0.1);
    border-bottom: 3px solid #e0c5e8;
}

#workspaces button.active {
    background-color: rgba(224, 197, 232, 0.1);
    border-bottom: 3px solid #e0c5e8;
}

#window {
    color: #e0c5e8;
    background-color: transparent;
}

#pulseaudio {
    padding: 0 7px;
    margin: 0;
    color: #e0c5e8;
    background-color: transparent;
}

#pulseaudio.muted {
    color: #6c4a6b;
}

#pulseaudio:hover {
    background-color: rgba(224, 197, 232, 0.1);
    border-radius: 6px;
}
#clock {
    padding: 0 10px;
    margin: 0;
    color: #e0c5e8;
    background-color: transparent;
}

#clock:hover {
    background-color: rgba(224, 197, 232, 0.1);
    border-radius: 6px;
}
#network {
    padding: 0 8px;
    margin: 0;
    color: #e0c5e8;
    background-color: transparent;
}

#network:hover {
    background-color: rgba(224, 197, 232, 0.1);
    border-radius: 6px;
}

#custom-power {
    margin-right: 18px;
    padding: 0 20px;
    color: #e0c5e8;
    background-color: transparent;
}

#custom-power:hover {
    background-color: rgba(224, 197, 232, 0.1);
    border-radius: 6px;
}

#bluetooth {
    padding: 0 8px;
    margin: 0 4px;
    color: #e0c5e8;
    background-color: transparent;
}

#bluetooth:hover {
    background-color: rgba(224, 197, 232, 0.1);
    border-radius: 6px;
}
